.topNav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.adminBtn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #FFD814;
  border: 1px solid #FCD200;
  font-size: 13px;
  height: 40px;
  padding: 0 11px;
  text-align: center;
  /* width: 100%; */
  min-width: 150px;
  font-weight: 600;
  color: #0F1111;
}

.adminBtn:hover {
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.adminLink {
  color: black;
  text-decoration: none;
}

