.backBtnContainer {
    display: flex;
    align-items: center;
    padding: 10px 4px;
}

.backBtn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.title{
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}